body, html {
  margin: 0;
  padding: 0;
}
.header {
  display: grid;
  background: #263541;
  height: 100%;
  align-items: center;
  position: relative;
  grid-template-columns: auto auto 1fr auto;
  grid-gap: 10px;
  gap: 8px;
  padding: 0 10px;
  grid-auto-rows: minmax(100px, auto);
}

.home {
  margin-left: 8px;
  border-radius: 8px;
}

.button-global-header {
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  position: relative;
  width: 3rem;
  height: 40px;
}

.button-global-header:hover {
  background-color: #d1d1d1;
  transition: 1ms ease;
}

.sesion {
  margin-left: 15px;
  position: static;
  justify-self: end;


}

/* From Uiverse.io by alexruix */
.input-search-globla {
  position: relative;
  grid-column: 3;
  grid-row: 1;
  display: flex;
  line-height: 28px;
  align-items: center;
  margin: 0;

  width: 100%;

}

.input-search-globla:fullscreen {
  max-width: auto;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: white;
  color: #0d0c22;
  transition: .3s ease;
  box-sizing: border-box;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(76, 100, 234, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.input-search-globla .icon{
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  fill: gray;
  pointer-events: none;
}

.icon-empresas-link{
  background-color: #263541;
  position: absolute;
  /* height: 100%;
  width: 50%; */

}

.sidebar-main{
  background-color: #6f8fa8;
  max-width: 10rem;
  height: 100%;
  align-items: center;
  display: grid;
  background: #14004b;
  height: 100%;
  align-items: center;
  position: relative;
  grid-template-columns: auto auto 1fr auto;
  grid-gap: 10px;
  gap: 8px;
  padding: 0 10px;
  grid-auto-rows: minmax(100px, auto);

}
